#BotonMiPerfil {
	background-color: #00546c;
	color: white;
}
#BotonHistorial {
	background-color: #51bfe2;
	color: white;
}
#BotonRealizarSugerencia {
	background-color: #0184c8;
	color: white;
}
#BotonRealizarReclamo {
	background-color: #00546c;
	color: white;
}