<div class="container-fluid" id="ourteamcontainer">
	<!-- SEPARADOR -->
	<div class="row" style="background-color: #333333; height: 1px"></div>
	<div class="row" style="background-image: linear-gradient(80deg, #ffffff, #0071A4, #003053)">
		<div class="col" style="height: 50px"></div>
	</div>
	<div class="row" style="background-color: #333333; height: 1px"></div>

	<!-- BANNER NUESTRA EMPRESA -->
	<div class="row" style="padding-top: 30px">
		<div class="col-1"></div>
		<div class="col-10" id="ot-header2">
			<h1 id="titulo">- NUESTRA EMPRESA -</h1>
			<br>
		</div>
		<div class="col-1"></div>
	</div>

	<!-- CONTENIDO NUESTRA EMPRESA -->
	<div class="row" style="padding-top: 50px">
		<div class="col-1"></div>
		<div class="col-5" id="textoempresa">
			<br>
			<br>
			<h1>Misión</h1>
			<p>Solucionar de manera efectiva las distancias entre empresas y clientes. <br>
				Ofrecer el mejor sistema de reclamos, con el mejor equipo.</p>
			<br>
			<br>
		</div>
		<div class="col">
			<br>
			<img style="border-radius: 10px;" src="/../assets/fotoprofesionalmini.jpg">
		</div>
		<div class="col"></div>
	</div>

	<div class="row" style="padding-top: 30px">
		<div class="col-1"></div>
		<div class="col-10" id="ot-header">
			<h1 id="titulo">- NUESTRO EQUIPO -</h1>
			<br>
		</div>
		<div class="col-1"></div>
	</div>

	<div class="row" style="padding-top: 50px">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/ourteam1.png">
		</div>
		<div class="col-6">
			<br>
			<h4>Jhonny</h4>
			<h6><i>Project Designer</i></h6>
			<p>Él es Jhonny, nuestro diseñador magister y PhD en todas las áreas de diseño. <br>
			Su pasatiempo es comprar figuras de monas chinas y frustrarse en juegos multiplayer. <br>
		    Jhonny come mucha Maruchan y toma jugo de papaya.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br>
			<h4>Amelia</h4>
			<h6><i>Senior Programmer</i></h6>
			<p>Amelia toma 12 tazas de café al día. Dependiendo de su estado de ánimo, puede preferir<br>
				tomar algo dulce como un Vanilla Latte o algo amargo como un Caffeinator3000 EXTREME 2020 EDITION <br> 
				En ocasiones sale a caminar para distraerse del estrés laboral. Le gusta coleccionar llaveros.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/ourteam2.png">
		</div>
		<div class="col-2"></div>
	</div>
</div>