<div class="container-fluid" id="ourteamcontainer">
	<!-- SEPARADOR -->
	<div class="row" style="background-color: #333333; height: 1px"></div>
	<div class="row" style="background-image: linear-gradient(80deg, #ffffff, #0071A4, #003053)">
		<div class="col" style="height: 50px">
			<button class="btn btn-info" id="botonInicio" (click)="home()">Volver al inicio</button>
		</div>
	</div>
	<div class="row" style="background-color: #333333; height: 1px"></div>

	<!-- BANNER NUESTRA EMPRESA -->
	<div class="row" style="padding-top: 30px">
		<div class="col-1"></div>
		<div class="col-10" id="ot-header2">
			<h1 id="titulo">- NUESTRA EMPRESA -</h1>
			<br>
		</div>
		<div class="col-1"></div>
	</div>

	<!-- CONTENIDO NUESTRA EMPRESA -->
	<div class="row" style="padding-top: 80px">
		<div class="col-1"></div>
		<div class="col-5" id="textoempresa">
			<br>	
			<h1 style="text-align: center"><i>Misión G3</i></h1>
			<hr>
			<p style="text-align: center">Solucionar de manera efectiva las distancias entre empresas y clientes. <br>
				Ofrecer el mejor sistema de reclamos, con el mejor equipo.</p>
			<br>
			<h1 style="text-align: center"><i>Visión G3</i></h1>
			<hr>
			<p style="text-align: center">En el futuro cercano estaremos presentes y de la mano de una gran gama de <br>
				uso común, prestando ayuda a la mayor cantidad de personas posibles.
			</p>
		</div>
		<div class="col">
			<br>
			<img style="border-radius: 10px;" src="/../assets/fotoprofesionalmini.jpg">
		</div>
		<div class="col"></div>
	</div>

	<!-- Nuestros Valores -->
	<div class="row" style="padding-top: 80px">
		<div class="col-1"></div>
		<div class="col">
			<br>
			<img style="border-radius: 10px;" src="/../assets/ourteamheader2.jpg">
		</div>
				<div class="col-5" id="textoempresa">
			<br>	
			<h1 style="text-align: center"><i>Nuestros Valores</i></h1>
			<hr>
			<p style="text-align: center">INTEGRIDAD - Rellene aquí con cosas bonitas.
				<br>CALIDAD - Rellene aquí con cosas con calidad.
				<br>RESPETO - Rellene aquí con cosas respetuosas.
				<br>COMPROMISO - Rellene aquí con cosas comprometedoras.</p>
			<br>
		</div>
		<div class="col"></div>
	</div>

	<br>

	<div class="row" style="padding-top: 100px">
		<div class="col-1"></div>
		<div class="col-10" id="ot-header">
			<h1 id="titulo">- NUESTRO EQUIPO -</h1>
			<br>
		</div>
		<div class="col-1"></div>
	</div>

	<div class="row" style="padding-top: 80px">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/ourteam1.png">
		</div>
		<div class="col-6">
			<br>
			<h4>Susana Ramírez</h4>
			<h6><i>Database Administrator</i></h6>
			<p>Él es Jhonny, nuestro diseñador magister y PhD en todas las áreas de diseño. <br>
			Su pasatiempo es comprar figuras de monas chinas y frustrarse en juegos multiplayer. <br>
		    Jhonny come mucha Maruchan y toma jugo de papaya.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br>
			<h4>Diana Cerda</h4>
			<h6><i>UI/UX Designer</i></h6>
			<p>Amelia toma 12 tazas de café al día. Dependiendo de su estado de ánimo, puede preferir<br>
				tomar algo dulce como un Vanilla Latte o algo amargo como un Caffeinator3000 EXTREME 2020 EDITION <br> 
				En ocasiones sale a caminar para distraerse del estrés laboral. Le gusta coleccionar llaveros.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/ourteam2.png">
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/ourteam1.png">
		</div>
		<div class="col-6">
			<br>
			<h4>Lobsang Barriga</h4>
			<h6><i>UI/UX Architect</i></h6>
			<p>Él es Jhonny, nuestro diseñador magister y PhD en todas las áreas de diseño. <br>
			Su pasatiempo es comprar figuras de monas chinas y frustrarse en juegos multiplayer. <br>
		    Jhonny come mucha Maruchan y toma jugo de papaya.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br>
			<h4>Juan Ramírez</h4>
			<h6><i>Full Stack Programmer</i></h6>
			<p>Amelia toma 12 tazas de café al día. Dependiendo de su estado de ánimo, puede preferir<br>
				tomar algo dulce como un Vanilla Latte o algo amargo como un Caffeinator3000 EXTREME 2020 EDITION <br> 
				En ocasiones sale a caminar para distraerse del estrés laboral. Le gusta coleccionar llaveros.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/ourteam2.png">
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/ourteam1.png">
		</div>
		<div class="col-6">
			<br>
			<h4>Vanessa Arriagada</h4>
			<h6><i>Back-End Programmer</i></h6>
			<p>Él es Jhonny, nuestro diseñador magister y PhD en todas las áreas de diseño. <br>
			Su pasatiempo es comprar figuras de monas chinas y frustrarse en juegos multiplayer. <br>
		    Jhonny come mucha Maruchan y toma jugo de papaya.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br>
			<h4>José López</h4>
			<h6><i>Front-End Programmer</i></h6>
			<p>Amelia toma 12 tazas de café al día. Dependiendo de su estado de ánimo, puede preferir<br>
				tomar algo dulce como un Vanilla Latte o algo amargo como un Caffeinator3000 EXTREME 2020 EDITION <br> 
				En ocasiones sale a caminar para distraerse del estrés laboral. Le gusta coleccionar llaveros.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/ourteam2.png">
		</div>
		<div class="col-2"></div>
	</div>
</div>