<div class="container-fluid" id="ourteamcontainer">
	<!-- SEPARADOR -->
	<div class="row" style="background-color: #333333; height: 1px"></div>
	<div class="row" style="background-image: linear-gradient(80deg, #ffffff, #0071A4, #003053)">
		<div class="col" style="height: 50px">
			<button class="btn btn-info" id="botonInicio" (click)="home()">Volver al inicio</button>
		</div>
	</div>
	<div class="row" style="background-color: #333333; height: 1px"></div>

	<!-- BANNER NUESTRA EMPRESA -->
	<div class="row" style="padding-top: 30px">
		<div class="col-1"></div>
		<div class="col-10" id="ot-header2">
			<h1 id="titulo">- NUESTRA EMPRESA -</h1>
			<br>
		</div>
		<div class="col-1"></div>
	</div>

	<!-- CONTENIDO NUESTRA EMPRESA -->
	<div class="row" style="padding-top: 80px">
		<div class="col-1"></div>
		<div class="col-5" id="textoempresa">
			<br>	
			<h1 style="text-align: center"><i>Misión G3</i></h1>
			<hr>
			<p style="text-align: center">Solucionar de manera efectiva las distancias entre empresas y clientes. <br>
				Ofrecer el mejor sistema de reclamos, con el mejor equipo.</p>
			<br>
			<h1 style="text-align: center"><i>Visión G3</i></h1>
			<hr>
			<p style="text-align: center">En el futuro cercano estaremos presentes y de la mano de una gran gama de <br>
				uso común, prestando ayuda a la mayor cantidad de personas posibles.
			</p>
		</div>
		<div class="col">
			<br>
			<img style="border-radius: 10px;" src="/../assets/fotoprofesionalmini.jpg">
		</div>
		<div class="col"></div>
	</div>

	<!-- Nuestros Valores -->
	<div class="row" style="padding-top: 80px">
		<div class="col-1"></div>
		<div class="col">
			<br>
			<img style="border-radius: 10px;" src="/../assets/ourteamheader2.jpg">
		</div>
				<div class="col-5" id="textoempresa">
			<br>	
			<h1 style="text-align: center"><i>Nuestros Valores</i></h1>
			<hr>
			<p style="text-align: center">INTEGRIDAD - Rellene aquí con cosas bonitas.
				<br>CALIDAD - Rellene aquí con cosas con calidad.
				<br>RESPETO - Rellene aquí con cosas respetuosas.
				<br>COMPROMISO - Rellene aquí con cosas comprometedoras.</p>
			<br>
		</div>
		<div class="col"></div>
	</div>

	<br>

	<div class="row" style="padding-top: 100px">
		<div class="col-1"></div>
		<div class="col-10" id="ot-header">
			<h1 id="titulo">- NUESTRO EQUIPO -</h1>
			<br>
		</div>
		<div class="col-1"></div>
	</div>

	<div class="row" style="padding-top: 80px">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Su.png">
		</div>
		<div class="col-6">
			<br>
			<h4>Susana Ramírez</h4>
			<h6><i>[Insertar Cargo Aquí]</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br><br>
			<h4>Lobsang Barriga</h4>
			<h6><i>[Insertar Cargo Aquí]</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Dani.png">
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Diana.png">
		</div>
		<div class="col-6">
			<br><br>
			<h4>Diana Cerda</h4>
			<h6><i>[Insertar Cargo Aquí]</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br><br>
			<h4>Juan Ramírez</h4>
			<h6><i>[Insertar Cargo Aquí]</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Juan.jpg">
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Vanne.png">
		</div>
		<div class="col-6">
			<br><br>
			<h4>Vanessa Arriagada</h4>
			<h6><i>[Insertar Cargo Aquí]</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row">
		<div class="col-2"></div>
		<div class="col-6" style="text-align: right">
			<br><br>
			<h4>José López</h4>
			<h6><i>[Insertar Cargo Aquí]</i></h6>
			<p>[Insertar detalle aquí] Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
		    <br><br><br><br>
		</div>
		<div class="col-2">
			<img class="img-thumbnail" id="img-ourteam1" src="../../assets/fotos-ourteam/Jose.jpg">
		</div>
		<div class="col-2"></div>
	</div>
</div>