<!----------------------------------------------------->
<!-- REALIZAR-RECLAMO COMPONENT : INGRESO DE RECLAMO -->
<!----------------------------------------------------->

	<!------------------------------------------------------------------>
    <!-- NAVBAR: Barra de navegación superior, con vínculos y botones -->
    <!------------------------------------------------------------------>
    <div class="row" id="navbar" style="background-color:ghostwhite">
            <div id="navbarseccion1" class="col-7">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active" id="btn_home_navbar">
                            <div class="col">
                                <a class="nav-link" href="#">
                                    <img src="../../assets/homeiconmini.png" alt="">
                                    <br>
                                    INICIO
                                </a>
                            </div>
                            </li>
                            <li class="nav-item">
                                <div class="col">
                                    <a class="nav-link" href="#">
                                        <img src="../../assets/reclamoiconmini.png" alt="">
                                        <br>
                                        RECLAMO
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="col">
                                    <a class="nav-link" href="#">
                                        <img src="../../assets/historialiconmini.png" alt="">
                                        <br>
                                        HISTORIAL
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>            
                </nav>
            </div>
            
                    <!-- SECCIÓN 2: BOTONES REGISTRO, LOGIN Y EMPRESAS -->
            <div class="col-2 padding-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion2">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li>
                                <button (click)="cerrarSesion()"type="button" class="btn btn-danger"  >Cerrar sesión</button>	
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
                    <!-- SECCIÓN 3: BUSCAR POR ID -->
            
            <div class="col padding-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarseccion3">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    
                        <div class="col-8 padding-0" style="text-align: right">
                            <input [(ngModel)]="idBusqueda" class="form-control mr-sm-2" type="search" placeholder="Buscar #ID..." aria-label="Search">
                                         
                        </div>
                        <div class="col padding-0">
                            <button (click)="buscarPorId()" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                Buscar
                            </button>
                        </div>
                                          
                    </div>
                </nav>
            </div>
            <router-outlet></router-outlet>
        </div>  
        
        <!-- CONTENIDO -->
    <div class="row" style="background-image: linear-gradient(#355C7D, #6C5B7B, #C06C84)">
        <div class="col-2" style="padding-left: 20px">
            
        </div>
            <div class="col-8">
                <br>
                <h1 style="color: white; text-shadow: 2px 2px 5px #222222">Realizar Sugerencia</h1>
                <br>
                <br>
               
                <div class="form-group">
                    <label for="inputlg" style="color: #eeeeee">Empresa</label>
                    <br>
                <select class="browser-default custom-select" name="empresas">
                    <option *ngFor="let empresa of empresas" value="empresa">{{empresa}}</option> 
                    
                </select>

                </div>
                            <div class="form-group">
                                <label  style="color: #eeeeee" for="">Titulo</label>
                                <input class="form-control"  [(ngModel)]="rs.tituloRS"type="text" name="" id="">
                            </div>
        
                            <label style="color: #eeeeee" for="exampleFormControlTextarea1">Detalle</label>
                            <div class="form-group">
                                <textarea [(ngModel)]="rs.detalleReclamoSugerencia" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe aquí el detalle de tu reclamo"></textarea>
                                <p>maximo 265 caracteres </p>
                            </div>
                            
                            <br><hr style="border: 1px solid #dddddd">
                            <br>
                            <button class="btn btn-primary " (click)="realizarReclamoSugerencia()">Enviar Reclamo</button>
                        </div>
                    </div>
        